* {
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    
}

h2 {

    margin-left: 30px;
}

.descripcion{

    margin-left: 30px;
}

.gotico{

    display: flex;
    justify-content: center;
}
#imagen {
    display: flex;
    justify-content: center;
    width: 30%;
}
details{
    margin: 10px;
}