* {
  margin: 0;
}

/* EJERCICIO N° 1 */

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  margin-left: 30px;
}

.descripcion {
  margin-left: 30px;
}

.gotico {
  display: flex;
  justify-content: center;
}
#imagen {
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 9px;
}

/* EJERCICIO N° 2 */

details {
  margin: 10px;
}

#helmets img {
  width: 20%;
  margin: 10px;
  border: 3px solid black;
  border-radius: 9px;
}

.total {
  display: flex;
  justify-content: center;
}

/* EJERCICIO Nº 3 */

.three-number{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.combinacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(175, 244, 247);
  border: 8px solid;
  width: 30vw;
  height: 20vh;
}
